<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/notes.css">
</head>
<body>
    <h3>Notes</h3>
    <a href="/">Go to LogIn page</a>
    <%  %>
    <div>
        <%= user %>
    </div>
    <div>
        <div>Add a note</div>
        <form action="/notes/add" method="post">
            <input type="hidden" name="username" value="<%= user %>">
            <input type="text" name="title" id="" placeholder="enter title">
            <input type="text" name="content" id="" placeholder="enter content">
            <input type="submit" value="Add Note">
        </form>
    </div>
    <div class="notes">
        <% allnotes.forEach((note)=>{ %>
            <div class="note">
                <div class="ntitle"><%= note.title %></div>
                <div class="ntext"><%= note.content %></div>
                <a href="/notes/delete/<%= note._id %>" style="color: blue;">delete</a>
            </div>
        <% }) %>
    </div>
</body>
</html>