<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your-Notes--Notes-App-bySnehNaik</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/notes.css">
</head>
<body>
    <div class="notesmain">
        <a href="/logout" class="loglink">Log Out</a>
        <div class="noteshead">Your Notes</div>
        <!-- <div class="notesuser">
            <%= user %>
        </div> -->
    </div>
    <div class="notesadd">
        <div>Add a note</div>
        <form action="/notes/add" method="post">
            <input type="hidden" name="username" value="<%= user %>">
            <input type="text" name="title" id="addtitle" placeholder="enter title">
            <input type="hidden" name="content" id="addcont" placeholder="enter content" value="">
            <!-- <textarea name="content" id="addcont" rows="5" placeholder="enter content"></textarea> -->
            <input type="submit" value="Add Note" class="addbtn" style="color: rgb(250, 177, 81);">
        </form>
    </div>
    <div class="notes">
        <% allnotes.forEach((note)=>{ %>
            <div class="note">
                <div class="ntitle"><%= note.title %></div>
                <div class="ntext"><%= note.content %></div>
                <div class="smlink"><a href="/notes/full/<%= note._id %>">See More</a></div>
                <div class="edel">
                    <a href="/notes/edit/<%= note._id %>" style="color: rgb(102, 102, 240);">edit</a>
                    <a href="/notes/delete/<%= note._id %>" style="color: blue;">delete</a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>